body{
    background-color: azure;
    font-size: 20pt;
    font: normal 20pt Arial;
}
.corpo{
    width: 960px;
    margin: auto;

}
.conteudo{
    display: table;
}
.imagem{
    display: table-cell;
    float: left;
}
.texto{
    font-size: 20pt;
    display: table-cell;
    float: left;
    width: 300px;
    margin-top: -20px;
    margin-left: 20px;
}
.conteiner{
    display: flex;
}